<!--  
 ----------Remove the common part(already present in layout.ejs)---------
 
 <html>
    <head>
        <title><%= title%></title>
    </head>

    <body>
        <%- include('_header'); -%> 
  -->

  <link rel="stylesheet" href="/css/user_profile.css">
  
        <h1>
            Codeial / <%= title%>
        </h1>

        <p><%= profile_user.name%></p>
        <p><%= profile_user.email%></p>

<!-- 
        ----------Remove the common part(already present in layout.ejs)---------

        <%- include('_footer'); -%>
    </body>
</html> -->